plugins/URLSPAMMER/URLSPAMMER.deps.json
plugins/URLSPAMMER/URLSPAMMER.dll
plugins/URLSPAMMER/URLSPAMMER.exe
plugins/URLSPAMMER/URLSPAMMER.pdb
plugins/URLSPAMMER/URLSPAMMER.runtimeconfig.dev.json
plugins/URLSPAMMER/URLSPAMMER.runtimeconfig.json
assets/Mapping Tool.lnk
